/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.time {
  font-size: 0.5em;
}

.author {
  margin-left: 1em;
  font-weight: bold;
}

.full-width {
  width: 100%;
}
